APP_NAME="backend mobile ExpressJs"
APP_PORT=5000
APP_ENV="developement"

ALLOWED_ORIGINS=
# database :
DATABASE_URL=postgresql+psycopg2://mobile:mobile_ajemi@db:5432/mobile_back_express 
DB_HOST=db
POSTGRES_DB=mobile_back_express
POSTGRES_USER=mobile
POSTGRES_PASSWORD=mobile_ajemi
POSTGRES_PORT=5432

# express 
BACKEND_URL=backend 

# jwt
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=